@import "../../styles/partials/global";

.main {
  height: 100vh;
  @include display-flex(column, space-around, space-around);

  &__easterEgg {
    text-decoration: none;
    color: $accent-color;
  }
  &__instructions {
    @include display-flex(column, center, center);
    margin: 5rem 0rem 2rem 0rem;
    @include tablet {
      margin: 10rem 0rem 0rem 0rem;
    }
    h1 {
      font-size: 28px;
      margin-bottom: 1.25rem;
      color: $main-font-color;
      @include tablet {
        margin-bottom: 1.125rem;
        font-size: 60px;
      }
    }

    h2 {
      font-size: 24px;
      color: $main-font-color;
      @include tablet {
        font-size: 30px;
      }
    }
  }

  .card-box {
    @include display-flex(column, space-around, center);
    height: 100%;
    @include tablet {
      @include display-flex(row, space-around, center);
    }
    .cardLink {
      text-decoration: none;
      margin-bottom: 2rem;
    }
  }
}
