@import "./variables";

// media queries
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin display-flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin paddingSection {
  padding: 1rem;
  @include tablet {
    padding: 2rem;
  }
}

@mixin widthSection {
  width: $mobile-width;
  @include tablet {
    width: $tablet-width;
    @include desktop {
      width: $desktop-width;
    }
  }
}