@import "./variables";

// media queries
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin display-flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin paddingSection {
  padding: 1rem;
  @include tablet {
    padding: 2rem;
  }
}

@mixin widthSection {
  width: $mobile-width;
  @include tablet {
    width: $tablet-width;
    @include desktop {
      width: $desktop-width;
    }
  }
}

@mixin title {
  font-size: 20px;
  margin-bottom: 1rem;
  @include tablet {
    margin-bottom: 2rem;
  }
}

@mixin btn {
  @include display-flex(row,center,center);
  background-color: blue;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: $radius;
  width: 6.5625rem;
  border: none;

  &:hover {
    background-color: darkblue;
  }
  &:active {
    transform: scale(0.95);
  }
}
