@use './fonts' as *;
// width variables
$mobile-width: 90%;
$tablet-width: 80%;
$desktop-width: 70%;

// Font variables
$main-font-regular: "Roboto", Arial, Helvetica, sans-serif;

// color variables
$err-color: red;
$background-main: #008060;
$main-font-color: #FFF;
$sec-font-color: #000;

// Misc variables
$radius: 4px;
