// width variables
$mobile-width: 90%;
$tablet-width: 80%;
$desktop-width: 70%;

// Font variables
$main-font-regular: "Roboto", Arial, Helvetica, sans-serif;

// color variables
$err-color: red;

// Misc variables
$radius: 4px;
