@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.header {
  margin-bottom: 2rem;
  @include paddingSection;
  background-color: $background-main;
  @include display-flex(column,space-between,center);
  @include tablet {
    @include display-flex(row,space-between,center);
  }

  &__inner {
    width: 100%;
    @include display-flex(column, space-around, center);
    @include tablet {
      @include display-flex(row, flex-start, center);
    }
  }
  &__profile {
    display: none;
    @include tablet {
      display: flex;
      height: 6.25rem;
      max-width: 100%;
    }
  }
  &__title {
    font-size: 24px;
    margin: 1rem 0rem;
    @include tablet {
      margin-bottom: 0rem;
      margin-left: 1rem;
    }
  }
  &__back {
    @include btn;
  }

}
