@use "./styles/partials/reset" as *;
@import "./styles/partials/variables";
@import "./styles/partials/mixins";

* {
  font-size: 16px;
  box-sizing: border-box;
}
body {
  font-family: $main-font-regular;
  // background-color: $light-primary;
  background-color: $dark-primary;
}
